.chariot-tooltip {
  width: 200px;
  height: 200px;
  position:absolute;
  z-index: 100;
  background: green;

  .chariot-tooltip-icon {
    background: white;
  }
  .chariot-tooltip-title{
    background: grey;
  }
  .chariot-tooltip-body{
    background: orange;
  }
  .chariot-tooltip-steps{
    background: purple;
  }
  .chariot-tooltip-next{
    background: green;
  }
}
