
$bg-color: #ffffff;
$border-color: #dddddd;

.chariot-tooltip {
  background-color: $bg-color;
  border: 1px solid $border-color;
  border-radius: 8px;
  box-shadow: 0px 1px 3px $border-color;
  padding: 33px 29px 31px 29px;
  width: 200px;
  position: absolute;
  text-align: center;
  color: #999999;

  .chariot-tooltip-icon {
    width: 55px;
    height: 55px;
    margin: auto;

    img {
      width: 55px;
      height: 55px;
    }
  }

  .chariot-tooltip-header {
    font-size: 18px;
    font-weight: 400;
    color: #78A300;
    margin-bottom: 7px;
  }

  .chariot-tooltip-content {
    margin-bottom: 12px;

    p {
      font-size: 15px;
    }
  }

  .chariot-btn-row {
    .btn {
      font-size: 14px;
      padding: 6px 20px;
      background-color: #78A300;
      border: none;
      color: #ffffff;
      border-radius: 5px;
    }

    .chariot-tooltip-subtext {
      float: left;
      color: #cccccc;
      padding-top: 6px;
    }

    .btn-right {
      float: right;
    }
  }

  &-arrow {
    background: $bg-color;
    width: 15px;
    height: 15px;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 50% 50% 0;
  }

  &-arrow-left {
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    box-shadow: -1px 1px 1px $border-color;
  }

  &-arrow-right {
    border-right: 1px solid $border-color;
    border-top: 1px solid $border-color;
    box-shadow: 1px -1px 1px $border-color;
  }

  &-arrow-top {
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
    // No shadow here
  }

  &-arrow-bottom {
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    box-shadow: 1px 1px 1px $border-color;
  }
}
